{% block _navbar %}
<header>
    <nav>
        <div id="navbar">
            <div id="logo">
                <div id='logo-container'>
                    <img src="/img/logo.svg" alt="Capriday">
                </div>
                <div id="navbar-mobile-btn" title="Expand menu">
                    <img src="/img/menu.svg" alt='expand'>
                </div>
            </div>
            
            <ul id='navbar-ul'>
                <li class='dropdown'><a title='About Capriday'>Capriday</a>
                    <ul class='submenu'>
                    <li> <a data-route= "{{ path('home') }}" data-scroll="#s-services">Services</a></li>
                    <li> <a data-route= "{{ path('home') }}" data-scroll="#s-results">Results</a></li>
                    <li> <a data-route= "{{ path('home') }}" data-scroll="#s-history">History</a></li>
                    <li> <a data-route= "{{ path('home') }}" data-scroll="#s-rules">Regulations</a></li>
                    <li> <a data-route= "{{ path('home') }}" data-scroll="#s-conditions">Registration conditions</a></li>
                    
                    </ul>
                </li>
                {# check if there is any project #}
                {% if twig_pa.pa %}

                    {# if there are more than the globalsettings item limit, the menubar will not contain the elements #}
                   
                    {% if twig_pa.checkPa %}
                    
                    <li class='dropdown'><a title='Capriday projects' title='Proiecte'>Projects</a>
                        <ul class='submenu'>
                        {% for project in twig_pa.pa %}
                            <li> <a data-route= "{{ path('hproject') }}" data-scroll="#s-{{ loop.index }} "> {{ project.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                     <li><a href="{{ path('hproject') }}" title='Capriday projects' title='Projects'>Projects</a> </li>
                    {% endif %}
               
                {% endif %}
               
                {# <li class='dropdown'><a href="#">informatii tehnice</a>
                    <ul class='submenu'>
                    <li> <a href="#">Controlul oficial al productiei</a></li>
                    <li> <a href="#">Registrul genealogic</a></li>
                    <li> <a href="#">Conservare geofond</a></li>
                    
                    </ul>
                </li> #}
                <li class='dropdown'><a title='Announces'>announces</a>
                    <ul class='submenu'>
                        <li><a data-route= "{{ path('hpost') }}" data-scroll="#">Capriday announces </a></li>
                        <li><a data-route= "{{ path('hnews') }}" data-scroll="#">News</a></li>
                        <li><a data-route= "{{ path('hgallery') }}" data-scroll="#">Gallery</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('contact') }}" title='Contact'>contact</a></li>
                <li class='li-socialmedia'>
                 <ul id="socialmedia">
                    <li><a href="https://www.fb.com"><img src="/img/socialmedia/64/facebook.png" alt="fb" title='Facebook'><span>Facebook</span></a></li>
                    <li><a href="https://www.twitter.com"><img src="/img/socialmedia/64/twitter.png" alt="twitter" title='Twitter'><span>Twitter</span></a></li>
                    <li><a href="https://www.youtube.com"><img src="/img/socialmedia/64/utube.png" alt="utube" title='Youtube'><span>Youtube</span></a></li>
                </ul>
                </li>
            </ul>
           
        </div>
    </nav>
</header>
{% endblock %}