{% extends 'base.html.twig' %}

{% block title %}Autentificare{% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    {# <link rel="stylesheet" type="text/css" href="/assets/css/fonts-v1.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main-v1.css"> #}
    {{ encore_entry_link_tags('admin') }}

    <style>
        *:focus {
        outline-color:  RGBA(241,34,37, .6);

        }

        #content {
            opacity:1;
        }
        #main{
            display:flex;
            flex-direction:column;
            min-height:100vh;
            justify-content:center;
            align-items:center;
            padding:0;

        }
        #main-content{
            background-color:rgba(255, 255, 255, 1);
            max-width:600px;
            padding:25px 15px;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            transform:translateY(-15px);
        
        }

        h3 {
            border-top:1px solid RGB(241,34,37);
            padding-top:1em;
            padding-bottom:.5em;
            font-size:.7em;
            letter-spacing:.15em;
            text-align:center;
            text-transform:uppercase;
            font-weight:bold;
            color: RGB(241,34,37);
        }

        form {
            display:flex;
            flex-direction:column;
            flex:1;
            flex-basis:90%;
            padding:25px 15px;
            /* font-size: clamp(1.140rem, calc( 1rem + 1.200vw ), 1.500rem); */
        }

        input, #checkboxrememberme {
            padding:5px;
        
            font-size:1em;
            text-align:center;
            text-transform:uppercase;
            
        }

        #checkboxrememberme {
            text-align:end;
            margin-bottom: 1.5em;
        }

        #remember_me{
            transform: scale(1.3);
            margin-left:.5em;
        
        }
        span, label {
            margin-top: .75em;
            margin-bottom: .15em;
            font-size:.55em;
            letter-spacing:.05em;
            text-transform:uppercase;
            color:RGB(241,34,37);
        }

        label {
            margin-top: .75em;
            margin-bottom:.75em;
            font-size:.55em;
            letter-spacing:.05em;
            text-transform:uppercase;
        }

        button {
    
            border-radius: 5px;
            padding: 7px 17px;
            width:100%;
            margin: 3px;
            /* align-self:right; */
            color:white;
            background-color: RGB(241,34,37);
            font-size:.9em;
            cursor:pointer;
            text-transform:uppercase;
            box-shadow: 0 0 2px 0 grey;
            border:none;
        }

        img {
            max-width: 200px;
            width:100%;
        }

        @media screen and (min-width: 768px) {
            #main {
                max-width:100vw;
                background-image: url("img/rg.png");
                background-repeat:none;
                background-size:cover;
            }
            #main-content{
                box-shadow:0 0 3px 0 rgba(155, 155, 155, .8);
                border-radius:7px;
                background-color:rgba(250, 250, 250, 0.93);
                
            }
            body {
                margin:0;
                max-width:100vw;
            }
        }
    </style>

{% endblock %}
{% block body %}

<div id='main' class='container'>
   
    {% block flashes %}
        {% include "/_flashes/_flashes.html.twig" %}
    {% endblock %}
    <div id="main-content">
        <img src="/img/logo.svg" alt="Caprirom">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Esti logat ca {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h3>Autentificare</h1>
            <label for="inputUsername">Utilizator</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">Parola</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <div id='checkboxrememberme' class='row'>
                <span>Ramai logat</span>
                <input type="checkbox" id="remember_me" name="_remember_me"/ checked="checked">
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit">
                Ok
            </button>
        </form>
    </div>
</div>


{% endblock %}
{# remove navbar , footer and loginbar #}
{% block navbar %}
{% endblock %}
{% block loginbar %}
{% endblock %}
{% block footer %}
{% endblock %}

{# disable main javascript #}
 {% block mainjavascript %}
 <script src='/unlinkedJs/cookies.js'></script>
 <script>
 const closebtnflash = document.querySelectorAll('.close-btn-flash');
 closebtnflash.forEach(function(e){
    e.addEventListener('click', function(){
        e.parentElement.style.display = 'none';
        e.parentElement.style.opacity = '0';

    })
})
 </script>
    {# {{ encore_entry_script_tags('admin') }} #}
{% endblock %}   
