{#
/**
 * @file
 * Twitter Bootstrap v4-beta.2 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * https://getbootstrap.com/docs/4.4/components/pagination/
 *
 */
#}
{% if pageCount > 1 %}

            
    <div class='pagination-div'>

        <ul class="pagination">

            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><img src='/img/chev-left.svg' alt='chev-left'></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link"><img src='/img/chev-left.svg' alt='chev-left'></span>
                </li>
            {% endif %}

            {% if startPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="page-item disabled">
                        <span class="page-link">&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}

            {# {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% endif %}

            {% endfor %} #}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="page-item disabled">
                            <span class="page-link">&hellip;</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}
            <li>
                {% if type == 2 %}
                    {% if (((current - 1) * numItemsPerPage + 1) == ((current - 1) * numItemsPerPage + currentItemCount)) %}
                        <span>{{ (current - 1) * numItemsPerPage + 1 }}</span>
                    {% else %}
                        <span>{{ (current - 1) * numItemsPerPage + 1 }}-{{ (current - 1) * numItemsPerPage + currentItemCount }}</span>

                    {% endif %}
                    <span>of </span><span><b>{{ totalCount }}</b></span>
                {% endif %}
                {% if type == 1 %}
           
                <span>{{ current }} of {{ last }}</span>
                {% endif %}
            </li>
            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><img src='/img/chev-right.svg' alt='chev-right'></a>
                </li>
            {% else %}
                <li  class="page-item disabled">
                    <span class="page-link"><img src='/img/chev-right.svg' alt='chev-right'></span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
