{% extends 'container.html.twig' %}

{% block title %}Proiecte{% endblock %}

{% block container %}
    <h1>Proiecte lista</h1>
    <div class="pagination-bar">
        {{ knp_pagination_render(projects, '@KnpPaginator/Pagination/custom_pagination.html.twig') }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Crt</th>
                <th>Numele proiectului</th>
                <th>Descriere</th>
                <th>Data de inceput</th>
                <th>Status</th>
                <th>Creat la</th>
                <th>Modificat la</th>
                <th>Creat de</th>
                <th>Actiuni</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{(projects.currentPageNumber - 1) * projects.getItemNumberPerPage + loop.index }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.dateStartAt ? project.dateStartAt|datero('d-M-Y') : '' }}</td>
                <td>{{ project.statusFormat }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">Detalii</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
