{% extends 'container.html.twig' %}

{% block title %}Projects{% endblock %}

{% block container %}

    <h1>Project list</h1>
    <div class="flex-end">
        <div class="pagination-bar">
            {{ knp_pagination_render(projectsKnp,  '/_pagination/custom_pagination_pages.html.twig') }}
        </div>
    </div>
    <table class="table table-admin">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Files</th>
                <th>Valability</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for project in projectsKnp %}
            {% if project.status == 1 %}
            <tr class='finalizat'>
            {% elseif project.status == 2 %}
            <tr class='inactiv'>
            {% else %}
            <tr>
            {% endif %}
                <td>{{(projectsKnp.currentPageNumber - 1) * projectsKnp.getItemNumberPerPage + loop.index }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>
                {% if project.projectfiles.values %}
                    {% for pf in project.projectfiles %}
                         <a href="{{ path('uploads_entities', {'entity':'projectfiles', 'doc': pf.document}) }}">

                        <span>{{ pf.name }}</span></a>
                    {% endfor %}
              
                {% else %}
               
                {% endif %}
                </td>
                <td>
                    {% if project.dateStartAt %}
                    Start: {{ project.dateStartAt ? project.dateStartAt|date('d-M-Y') : '' }} <br>
                    {% endif %}
                    {% if project.dateEndAt %}
                    End: {{ project.dateEndAt ? project.dateEndAt|date('d-M-Y') : '' }} <br>
                    {% endif %}
                </td>               
                <td>{{ project.statusFormat }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">Details</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="flex-center">
        <div class="pagination-bar">
            {{ knp_pagination_render(projectsKnp,  '/_pagination/custom_pagination_pages.html.twig') }}
        </div>
    </div>
    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
