{% extends 'container.html.twig' %}

{% block title %}Albume{% endblock %}

{% block container %}
    <h1>Albume lista</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>Description</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.name }}</td>
                <td>{{ gallery.CreatedAt ? gallery.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gallery.description }}</td>
                <td>{{ gallery.position }}</td>
                <td>
                    <a href="{{ path('gallery_show', {'id': gallery.id}) }}">show</a>
                    <a href="{{ path('gallery_edit', {'id': gallery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gallery_new') }}">Create new</a>
{% endblock %}
