{% extends 'container.html.twig' %}

{% block title %}Albums{% endblock %}

{% block container %}
    <div class="flex-end">
        <div class="pagination-bar">
            {{ knp_pagination_render(galleryKnp,  '/_pagination/custom_pagination_pages.html.twig') }}
        </div>
    </div>
    <h1>Album list</h1>

    <table class="table table-admin">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profile</th>
                <th>Photo number</th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>Description</th>
                <th>Status</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleryKnp %}
            {% if gallery.status == 2 %}
            <tr class='inactiv'>
            {% else %}
            <tr>
            {% endif %}
                <td>{{(galleryKnp.currentPageNumber - 1) * galleryKnp.getItemNumberPerPage + loop.index }}</td>
                <td>
                {% set profile = NULL %}
                {% if gallery.photos.values %}
                    
                    {% for photo in gallery.photos %}
                         {# <a href="{{ path('uploads_entities', {'entity':'photos', 'doc': photo.document}) }}">
                        <span>{{ photo.name }}</span></a> #}
                        {% if photo.profile == true %}
                            {% set profile = 1 %}
                             <img data-id=" {{ loop.index }}"  src=" {{ vich_uploader_asset(photo, 'galleryImages') | imagine_filter('thumb') }} " class='home-profileimg'  alt="img-room{{ photo.id }}">
                        {% endif %}
                    {% endfor %}
                    {% if profile is null %}
                         <img src="/img/no-picture-thumb.jpg">
                    {% endif %}
                    </td>
                    <td>
                   
                    <span>{{ gallery.photos|length }}</span>
              
                {% else %}
                    <img src="/img/no-picture-thumb.jpg">
                    </td>
                    <td>
                     <span> - </span>
                {% endif %}
                </td>
                <td>{{ gallery.name }}</td>
                <td>{{ gallery.CreatedAt ? gallery.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gallery.description }}</td>
                <td>{{ gallery.statusFormat }}</td>
                

                <td>
                    <a href="{{ path('gallery_show', {'id': gallery.id}) }}">show</a>
                    <a href="{{ path('gallery_edit', {'id': gallery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="flex-center">
        <div class="pagination-bar">
            {{ knp_pagination_render(galleryKnp,  '/_pagination/custom_pagination_pages.html.twig') }}
        </div>
    </div>
    <a href="{{ path('gallery_new') }}">Create new</a>
{% endblock %}
