{% block _navbar %}
<header>
    <nav>
        <div id="navbar">
            <div id="logo">
                <div id='logo-container'>
                    <img src="/img/logoadmin.svg" alt="Caprirom">
                </div>
                <div id="navbar-mobile-btn" title="Expand menu">
                    <img src="/img/menu.svg" alt='expand'>
                </div>
            </div>
            
            <ul id='navbar-ul'>
                
                <li class='dropdown'><a title='Proiectele Caprirom' title='Proiecte'>Proiecte</a>
                    <ul class='submenu'>
                    <li> <a href="{{ path('project_index') }}">Lista proiecte</a></li>
                    <li> <a href="{{ path('project_new') }}">Adauga proiect</a></li>
                    </ul>
                </li>
                {# <li class='dropdown'><a href="#">informatii tehnice</a>
                    <ul class='submenu'>
                    <li> <a href="#">Controlul oficial al productiei</a></li>
                    <li> <a href="#">Registrul genealogic</a></li>
                    <li> <a href="#">Conservare geofond</a></li>
                    
                    </ul>
                </li> #}
                <li class='dropdown'><a title='Anunturi'>anunturi</a>
                    <ul class='submenu'>
                        <li> <a href="{{ path('post_index') }}">Lista anunturi Caprirom</a></li>
                        <li> <a href="{{ path('post_new') }}">Adauga anunt Caprirom</a></li>

                    </ul>
                </li>
                <li class='dropdown'><a title='Stiri si noutati'>Stiri</a>
                    <ul class='submenu'>
                        <li> <a href="{{ path('news_index') }}">Lista stiri si noutati</a></li>
                        <li> <a href="{{ path('news_new') }}">Adauga stire si noutate</a></li>

                    </ul>
                </li>
                <li class='dropdown'><a title='Albume foto'>Albume</a>
                    <ul class='submenu'>
                        <li> <a href="{{ path('gallery_index') }}">Lista albume</a></li>
                        <li> <a href="{{ path('gallery_new') }}">Adauga albume</a></li>

                    </ul>
                </li>

                <li class='li-socialmedia'>
                 <ul id="socialmedia">
                    <li><a href="{{ path('settings') }}"><img src="/img/settings.svg" alt="settings" title='Setari'><span>{{ app.user.username }}</span></a></li>
                    <li><a href="{{ path('app_logout') }}"><img src="/img/logout.svg" alt="logout" title='Logout'><span class='spanhide'>Logout</span></a></li>
                </ul>
                </li>
            </ul>
           
        </div>
    </nav>
</header>
{% endblock %}