{% block _navbar %}
<header>
    <nav>
        <div id="navbar">
            <div id="logo">
                <div id='logo-container'>
                    <img src="/img/logo.png" alt="Caprirom">
                </div>
                <div id="navbar-mobile-btn" title="Expand menu">
                    <img src="/img/menu.svg" alt='expand'>
                </div>
            </div>
            
            <ul id='navbar-ul'>
                
                <li class='dropdown'><a title='Proiectele Caprirom' title='Proiecte'>Proiecte</a>
                    <ul class='submenu'>
                    <li> <a href="{{ path('project_index') }}">Lista proiecte</a></li>
                    <li> <a href="{{ path('project_new') }}">Adauga proiect</a></li>
                    </ul>
                </li>
                {# <li class='dropdown'><a href="#">informatii tehnice</a>
                    <ul class='submenu'>
                    <li> <a href="#">Controlul oficial al productiei</a></li>
                    <li> <a href="#">Registrul genealogic</a></li>
                    <li> <a href="#">Conservare geofond</a></li>
                    
                    </ul>
                </li> #}
                <li class='dropdown'><a title='Anunturi'>anunturi</a>
                    <ul class='submenu'>
                        <li><a data-route= "{{ path('news') }}" data-scroll="#s-capriromnews">Anunturi Caprirom</a></li>
                        <li><a data-route= "{{ path('news') }}" data-scroll="#s-news">Stiri si noutati</a></li>
                        <li><a data-route= "{{ path('news') }}" data-scroll="#s-photo">Galerie foto</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('contact') }}" title='Contact'>contact</a></li>
                <li class='li-socialmedia'>
                 <ul id="socialmedia">
                    <li><a href="https://www.fb.com"><img src="/img/socialmedia/64/facebook.png" alt="fb" title='Facebook'><span>Facebook</span></a></li>
                    <li><a href="https://www.twitter.com"><img src="/img/socialmedia/64/twitter.png" alt="twitter" title='Twitter'><span>Twitter</span></a></li>
                    <li><a href="https://www.youtube.com"><img src="/img/socialmedia/64/utube.png" alt="utube" title='Youtube'><span>Youtube</span></a></li>
                </ul>
                </li>
            </ul>
           
        </div>
    </nav>
</header>
{% endblock %}