{% extends 'container.html.twig' %}

{% block title %}Projects{% endblock %}

{% block container %}
<div class="flex-end">
    <div class="pagination-bar">
        {{ knp_pagination_render(projectsKnp, '/_pagination/custom_pagination_pages.html.twig') }}
    </div>
</div>
<h1>Projects</h1>
<div class='project-list'>
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Start date
                </th>
                <th>
                    End date
                </th>
            </tr>
        </thead>
        <tbody>
        {% for project in projectsKnp %}
            <tr>
                <td>
                        {{(projectsKnp.currentPageNumber - 1) * projectsKnp.getItemNumberPerPage + loop.index }}
                </td>
                <td>
                    {{ project.name }}
                </td>
                <td>
                    {{ project.dateStartAt|date('d M Y') }}
                </td>
                <td>
                    {{ project.dateEndAt|date('d M Y') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<div class='card-holder'>
{% for project in projectsKnp %}
     {# generate cards #}
    <section id="s-{{ loop.index }}" class='section-item card-project'>
        <div class='card-project-title'>
            <div class='card-project-title-top'>
                <div>
                    <b># {{(projectsKnp.currentPageNumber - 1) * projectsKnp.getItemNumberPerPage + loop.index }}</b>
                </div>
                <div>
                    {% if project.dateStartAt %}
                        <span>Start: </span>
                        {{ project.dateStartAt|date('d M Y') }}
                    {% endif %}
                    {% if project.dateEndAt %}
                        <span>End: </span>
                       {{ project.dateEndAt|date('d M Y') }}
                    {% endif %}
                </div>
            </div>
            <div class='card-project-title-center'>
                {{ project.name }}
            </div>
        </div>
     {# sds #}
        <div class="card-project-item">
            <div class='card-project-item-description text-expand maxH-120'>
                <div><span style='text-transform:uppercase;font-size:.85em'>Project description:</span> <br>{{ project.description }}</div> 
            </div>
            <div class="text-expand-button"><b>... mai mult</b></div>
        </div>
        <div class="card-project-item">
            <div class='card-attach-container'>
            {% if project.projectfiles.values %}
                <div style='text-transform:uppercase;font-size:.85em'>Attached files:</div>
                <div class='card-attach-content'>
                    {% for pf in project.projectfiles %}
                        
                        <a href="{{ path('uploads_entities', {'entity':'projectfiles', 'doc': pf.document}) }}">
             
                            <div class='circle'>
                                <img src="/img/{{~ pf.extension ~}}.svg" alt="svg">
                                    {# <img src="/img/ods.svg" alt="svg"> #}
                            </div>
                            <div style='max-width:80%;overflow:hidden;'>{{ pf.name }}</div>
                        </a>           
                        
                    {% endfor %}
                </div>
                {% else %}
                <div>
                    <span>No attachments</span>
                </div>
                {% endif %}
            </div>
        </div>
        {# svg lines #}

        <div class='card-project-lines-top' > 
            <img src="/img/lines.svg" alt="svg">
        </div>

    </section>
    {# end cards #}
{% endfor %}
{# end card holder #}
</div>
<div class='flex-center'>
    <div class="pagination-bar">
        {{ knp_pagination_render(projectsKnp, '/_pagination/custom_pagination_pages.html.twig') }}
    </div>
</div>
{% endblock %}
