{% extends 'container.html.twig' %}

{% block title %}Stiri si noutati{% endblock %}

{% block container %}
    <div class="imporant">
    {% for new in newsI %}
        <div>{{ new.name }}</div>
        <div>{{ new.description }}</div>
        {% if new.type == 0 %}
        <div>
           <a href="{{ new.link }}">Link: {{ new.link }}</a>
        </div>
        {% endif %}

        {% if new.type == 1 %}
        <div>
            {{ new.link|raw }}
        </div>
        {% endif %}

        {% if new.type == 2 %}
        <div>
            <img src="{{ new.link }}">
        </div>
        {% endif %}

    {% endfor %}
    <hr>
    </div>
    <div class="normal">
    {% for new in news %}
        {% dump(new) %}
        <div>{{ new.name }}</div>
        <div>{{ new.description }}</div>
        {% if new.type == 0 %}
        <div>
             <a href="{{ new.link }}">Link: {{ new.link }}</a>
        </div>
        {% endif %}

        {% if new.type == 1 %}
        <div>
            {{ new.link|raw }}
        </div>
        {% endif %}

         {% if new.type == 2 %}
        <div>
            <img src="{{ new.link }}">
        </div>
         {% endif %}
    {% endfor %}
    </div>
{% endblock %}
