{% extends 'container.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block container %}
    <div class="flex-end">
        <div class="pagination-bar">
            {{ knp_pagination_render(galleryKnp,  '/_pagination/custom_pagination_pages.html.twig') }}
        </div>
    </div>
    <h1>Gallery</h1>
    <div class='gallery-hold'>
        {% for gallery in galleryKnp %}
            <div class="gallery-card" data-link="{{ path('hgallery_show', {id:gallery.id}) }}">
                {# <span>{{(galleryKnp.currentPageNumber - 1) * galleryKnp.getItemNumberPerPage + loop.index }}</span> #}
                <span>
                {% set profile = NULL %}
                {% if gallery.photos.values %}
                    
                    {% for photo in gallery.photos %}
                        {# <a href="{{ path('uploads_entities', {'entity':'photos', 'doc': photo.document}) }}">
                        <span>{{ photo.name }}</span></a> #}
                        {% if photo.profile == true %}
                            {% set profile = 1 %}
                            <img data-id=" {{ loop.index }}"  src=" {{ vich_uploader_asset(photo, 'galleryImages') | imagine_filter('img') }} " class='home-profileimg'  alt="img-room{{ photo.id }}">
                        {% endif %}
                    {% endfor %}
                    {% if profile is null %}
                        <img src="/img/no-picture-img.jpg">
                    {% endif %}
                    </span>
                    <span class='counter'>
                         {{ gallery.photos|length }}
                        {% if gallery.photos|length == 1 %}
                         photo
                         {% else %}
                         photos
                        {% endif %}
                    </span>
                {% else %}
                    <img src="/img/no-picture-img.jpg">
                    </span>
                    <span>
                    <span> - </span>
                {% endif %}
                </span>
                <span><b>{{ gallery.name }}</b></span>
                <span>{{ gallery.description }}</span>

            </div>
        {% else %}
            <div>
                No albums               
            </div>
        {% endfor %}
    </div>
    
    <div class="flex-center">
        <div class="pagination-bar">
            {{ knp_pagination_render(galleryKnp,  '/_pagination/custom_pagination_pages.html.twig') }}
        </div>
    </div>
{% endblock %}
