{% extends 'container.html.twig' %}

{% block title %}Albume{% endblock %}

{% block container %}
    <div class="flex-end">
        <div class="pagination-bar">
            {{ knp_pagination_render(galleryKnp,  '/_pagination/custom_pagination_pages.html.twig') }}
        </div>
    </div>
    <h1>Albume lista</h1>
    <div>
        


        {% for gallery in galleryKnp %}
            <div class="gallery-card">
                <span>{{(galleryKnp.currentPageNumber - 1) * galleryKnp.getItemNumberPerPage + loop.index }}</span>
                <span>
                {% set profile = NULL %}
                {% if gallery.photos.values %}
                    
                    {% for photo in gallery.photos %}
                        {# <a href="{{ path('uploads_entities', {'entity':'photos', 'doc': photo.document}) }}">
                        <span>{{ photo.name }}</span></a> #}
                        {% if photo.profile == true %}
                            {% set profile = 1 %}
                            <img data-id=" {{ loop.index }}"  src=" {{ vich_uploader_asset(photo, 'galleryImages') | imagine_filter('thumb') }} " class='home-profileimg'  alt="img-room{{ photo.id }}">
                        {% endif %}
                    {% endfor %}
                    {% if profile is null %}
                        <img src="/img/no-picture-thumb.jpg">
                    {% endif %}
                    </span>
                    <span>
                
                    <span>{{ gallery.photos|length }}</span>
            
                {% else %}
                    <img src="/img/no-picture-thumb.jpg">
                    </span>
                    <span>
                    <span> - </span>
                {% endif %}
                </span>
                <span>{{ gallery.name }}</span>
                <span>{{ gallery.CreatedAt ? gallery.CreatedAt|date('Y-m-d H:i:s') : '' }}</span>
                <span>{{ gallery.description }}</span>
                <span>{{ gallery.level }}</span>
                <span>{{ gallery.statusFormat }}</span>
                

                <span>
                    <a href="{{ path('hgallery_show', {'id': gallery.id}) }}">show</a>
                </span>
            </div>
        {% else %}
            <div>
                Fara albume                
            </div>
        {% endfor %}
    </div>
    
    <div class="flex-center">
        <div class="pagination-bar">
            {{ knp_pagination_render(galleryKnp,  '/_pagination/custom_pagination_pages.html.twig') }}
        </div>
    </div>
{% endblock %}
