{% extends 'container.html.twig' %}

{% block title %}Gallery{% endblock %}
{% block container %}
    <h1>{{ gallery.name }} ({{ gallery.createdAt ? gallery.createdAt|date('d-m-Y') : '' }})</h1>
    <div>
        {{ gallery.description }}
    </div>
    <div class='gallery-hold'>
        {% if gallery.photos.values %}
            {% for photo in gallery.photos %}
                <div class='gallery-card-show'>
                    <img data-id=" {{ loop.index }}"  src=" {{ vich_uploader_asset(photo, 'galleryImages') | imagine_filter('carousel') }} " class='home-profileimg'  alt="img-room{{ photo.id }}">
                </div>
            {% endfor %}
        
        {% else %}
        <span>No photos </span>
        {% endif %}
    </div>

    <a href="{{ path('hgallery') }}">back to list</a>

{% endblock %}
