{% extends 'container.html.twig' %}

{% block title %}Proiecte{% endblock %}

{% block container %}
{% for project in projects.active %}
    <section id="s-{{ loop.index }}">
        <div>{{ loop.index }}</div>
        <div>Nume proiect: {{ project.name }}</div>
        <div>Descriere proiect{{ project.description }}</div>
        <div>Data inceperii proiect: {{ project.dateStartAt|datero('d M Y') }}</div>
    </section>
{% endfor %}
{% endblock %}
